/node_modules
.venv
.next
.env*
diagram
__pycache__
__tests__
.DS_Store
# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.agent
.github
.vscode
.idea
/docs
/public/assets/

*storybook.log
storybook-static
