node_modules
.venv
.next
.env*
diagram
__pycache__
__tests__
.DS_Store
# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/public/assets/classicy
.agent
.github
.vscode
.idea
/docs


*storybook.log
storybook-static
