@import '../../styles/classicy/variables';

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.grantedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;
}

.inputAuth {
  width: 100%;
  padding: 0 1rem;
  font-size: 18px;
  border-radius: 2rem;
  border: 1px solid hsl(var(--shadow-color) / 0.2);
  box-shadow: inset 1px 1px 0 hsl(var(--specular-highlight)/ 80%);

  &:focus {
    background-color: #fff8dc;
    border: 1px solid hsl(var(--specular-highlight));
  }
}

.greeting {
  font-family: $font-pixel;
  font-size: 14px;
  color: hsl(var(--shadow-color) / 0.7);
}

.userInfoBox {
  position: relative;
  z-index: 1;
  background-color: $color-platinum-light; // 遮住橫紋
  box-shadow:
      inset 1px 1px 0 #444,
      inset 2px 2px 0 #888,
      inset -1px -1px 0 #fff,
      1px 1px 0 #000;
  backdrop-filter: blur(4px);
  border-radius: 2px;
  padding: 0 8px;
  font-family: $font-pixel;
  font-weight: 100;
  font-size: 14px;
  color: $color-text;
  margin: 0; // 置中

  // 標題列橫紋 (Stripes)
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // right: 20px;
    // bottom: 0px;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.1) 50%,
        transparent 50%);
    background-size: 100% 2px;
    pointer-events: none;
    z-index: -1;
  }
}