@import '../../../styles/classicy/variables';

.playButton {
  background: rgba(255, 255, 255, 0.488);
  border: 1px solid #515151;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.volumeControl {
  font-family: $font-pixel;
  color: black;
}

.timeDisplay {
  font-family: $font-pixel;
  color: black;
}

