// app/styles/classicy/main.scss
@import 'variables';

@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css")
layer(reset);

// 全域 Reset 與字體設定
body {
  font-family: $font-system;
  background-color: #808080; // 預設桌面灰
  overflow: hidden; /* 禁止捲動 */
  margin: 0;
  cursor: default; // 之後會替換為自定義 cursor
  background: url("../../../public/assets/img/2.jpg") center/cover;
  animation: bg-move 5s ease-in-out infinite alternate;
}

/* 用來讓文字無法選取，模擬 OS 介面 */
.no-select {
  user-select: none;
  -webkit-user-select: none;
}

@keyframes bg-move {
  from {
    background-position: center center;
  }
  to {
    background-position: center top;
  }
}

/* --- Platinum Scrollbars --- */
:root {
  --scrollbar-size: 16px;
  --scrollbar-track: #e0e0e0; /* 淺灰軌道 */
  --scrollbar-thumb: #c0c0c0; /* 深灰按鈕 */
  --scrollbar-border: #ffffff;
  --lg-bg-color: rgba(255, 255, 255, 0.25);
  --lg-highlight: rgba(255, 255, 255, 0.75);
  --lg-text: #ffffff;
  --lg-hover-glow: rgba(255, 255, 255, 0.4);
  --lg-red: #fb4268;
  --lg-grey: #5b5b5b;
  --glass-pill-hue:210;
}

* {
  /* Webkit Browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  &::-webkit-scrollbar-track {
    background:
      repeating-linear-gradient(
        45deg,
        #fff,
        #fff 2px,
        #ddd 2px,
        #ddd 4px
      ); /* 模擬軌道紋理 (Pattern) */
    border-left: 1px solid #888;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    box-shadow: inset 1px 1px 0 #dfdfdf; /* Bevel */
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #a0a0a0; /* 按下變深 */
  }

  &::-webkit-scrollbar-corner {
    background: #c0c0c0;
  }
}