@import '../../../styles/classicy/variables';


.windowBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  border-radius: 0.5rem;

  // background-color: $color-platinum-light; // 遮住橫紋
  box-shadow:
      inset 1px 1px 0 #444,
      inset 2px 2px 0 #888,
      inset -1px -1px 0 #fff,
      1px 1px 0 #000;
  overflow: auto;
  // margin: 0 10px;
  backdrop-filter: blur(4px);

  background-color: #fff;  
  /* 經典 Mac 視窗背景網格點 */
  background-image: radial-gradient(#ccc 1px, transparent 1px);
  background-size: 3px 3px;
  
  
}
