@import '../../../styles/classicy/variables';


.windowBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;

  // background-color: $color-platinum-light; // 遮住橫紋
  box-shadow:
    inset 1px 1px 0 #444,
    inset 2px 2px 0 #888,
    inset -1px -1px 0 #fff,
    1px 1px 0 #888;
  overflow: hidden;
  // margin: 0 10px;
  backdrop-filter: blur(4px);

  background-color: $color-platinum-light;
  /* 經典 Mac 視窗背景網格點 */
  // background-image: radial-gradient(#ccc 1px, transparent 1px);
  // background-size: 3px 3px;

  // 標題列橫紋 (Stripes)
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // right: 20px;
    // bottom: 0px;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.1) 50%,
        transparent 50%);
    background-size: 100% 2px;
    pointer-events: none;
    z-index: -1;
  }

}